

.game {
  flex: 1 calc(100vh - 30px);
  display: grid;
}

.score-container {
  font-family: Arcade;
  font-size: 40px;
  color:#ff6f61;
}

#score {
  margin-left: 30px;
  color:#ff9800
}

.avatar {
  display: flex;
  transform: scaleX(-1);
  float: center;
}

.game-meter {
  width: 40px;
  height: 400px;
  background: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid blue;
  display: flex;
  align-items: flex-end; 
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3),
              inset -2px -2px 6px rgba(255,255,255,0.7);
}

.meter-fill {
  display: flex;
  width: 100%;
  background: linear-gradient(to top, #4caf50, #2e7d32);
  border-radius: inherit;
  
}

.meter-name {
  font-size: 30px;
  font-family: Arcade;
  color:#ff6f61;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.meter-container {
  display: flex;
  margin: 30px;
  margin-top: 70px;
}

.game-button {
  padding: 10px 40px;
  background: linear-gradient(to top, #ff6f61, #ff9800);
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
}

.dirt-btn {
  display: flex;

}

.feed-btn {
  display: flex;
  justify-content: end;
}


@font-face {
  font-family: Talks;
  src: url("/fonts/Talks.ttf");

}

@font-face {
    font-family: 'Tribeca';
    src: url("/fonts/Tribeca.ttf");
}

@font-face {
  font-family: Arcade;
  src: url("/fonts/Arcade.TTF");
}