.speech-bubble {
    position: relative;
    display: flex;
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 200px;        
    line-height: 1.4;
    word-wrap: break-word;
    justify-self: center;
    left: 300px;
    top: 200px;
    font-family: fantasy;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 170px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
