.game-meter {
  width: 40px;
  height: 400px;
  background: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid blue;
  display: flex;
  align-items: flex-end; 
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3),
              inset -2px -2px 6px rgba(255,255,255,0.7);
}

.meter-fill {
  height: 60%;
  width: 100%;
  background: linear-gradient(to top, #4caf50, #2e7d32);
  border-radius: inherit;
  
}

.hunger-meter {
  justify-items: end;
}

.meter-name {
  font-size: 20px;
  font-family: fantasy;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.meter-container {
  display: flex;
}