

#score-board {
    margin-top: 3em;
    display: grid;
    justify-self: center;
    border-radius: 20px;
    background-color: #ff9800;
    font-family: Arcade;
    font-size: 40px;
}

thead {
    background-color: #ff6f61;
    border-style: solid 3px;
    border-color: black;
}

th, td {
  padding: 10px;
}

@font-face {
  font-family: Arcade;
  src: url("/fonts/Arcade.TTF");
}