.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
  flex: 0 80px;
  background-color: #B45253;
  height: 5em;
}


main {
   flex: 1 calc(100vh - 30px);
   display: flexbox;
   flex-direction: column;
   background-color: #115230;
   padding-top: 6em;
}

footer {
  flex: 0 30px;
  background-color: #B45253;
}


menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    background-color: #FCB53B;
}


.navbar-brand {
  padding-left: 0.3em;
}

menu .nav-item {
  padding: 0 0.3em;
  font-family: Tribeca;

}

.nav-link.active {
  color: green !important;
  font-weight: bold;
}


footer a {
  float: right;

}

h1 {
    font-family: Tribeca;
}
h2 {
    font-family: Tribeca;
}

@font-face {
    font-family: 'Tribeca';
    src: url("fonts/Tribeca.ttf");
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: flexbox;
  }
  main {
    flex: 1 100vh;
  }
}